body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFAC54;
  background-image: url("../fonts/bg_lanchonete-da-cidade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  color: gray;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Parallax {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

th{
  color: gray;
}

.container{
  width: 700px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #B06E0F;
  text-align: center;
}

.container h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:#000;
}

.container h3{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:#000;
}

.container input[type ="number"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type ="number"]:focus{
  width: 250px;
  border-color: #2ecc71;
}
.container button[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 12px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.container button[type = "button"]:hover{
background: #2ecc71;
}

.container button[type ="button"]:focus{
  border-color: #E8E527;
}

.table th{
  text-align:center;
  color: white;
}

.table td{
  text-align:center;
  color: white;
}

h2{
  text-align: left;
  color: white;
}
